*
{
    margin: 0px;
}
.conatiner
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    border-bottom: 2px solid black;
    width: 400px;
    text-align: center;
    border-right: 2px solid black;
    box-shadow: 4px 4px 5px gray;
    margin-top: 10px;
}
img
{
    height: 300px;
    width: 450px;
    margin: 10px;
    transition: all 1s;
}
img:hover
{
    transform: scale(1.1);
}